<div class="container">
    <ul class="col-md-6 list-group">
        <li class="list-group-item active">Pending Memberships</li>
        <li ng-repeat="pendingMembership in vm.pendingMemberships" class="list-group-item">
            {{pendingMembership.name}}
            <a href="" ng-click="vm.deleteMembership(pendingMembership)" class="pull-right">
                <img src="/client/images/cross.png">
            </a>
        </li>
    </ul>
    <ul class="col-md-6 list-group">
        <li class="list-group-item active"> Current Memberships</li>
        <li ng-repeat="currentMembership in vm.currentMemberships" class="list-group-item">
            {{currentMembership.name}}
            <a href="" ng-click="vm.deleteMembership(currentMembership)" class="pull-right">
                <img src="/client/images/cross.png">
            </a>
        </li>
    </ul>
</div>
