<div ng-show="!vm.employment" class="container">
    <div class="col-centered">
        You are not currently employed at any registered gym.
    </div>
    </br>
    <ul class="col-md-6 list-group">
        <li class="list-group-item active">Possible Employment</li>
        <li ng-repeat="possibleEmployment in vm.possibleEmployments" class="list-group-item">
            {{possibleEmployment.name}}
            <div class="pull-right">
                <a href="" ng-click="vm.requestEmployment(possibleEmployment)">
                    <img src="add.png">
                </a>
            </div>
        </li>
    </ul>
    <ul class="col-md-6 list-group">
        <li class="list-group-item active">Pending Employment</li>
        <li ng-repeat="pendingEmployment in vm.pendingEmployments" class="list-group-item">
            {{pendingEmployment.name}}
            <div class="pull-right">
                <a href="" ng-click="vm.deleteEmployment(pendingEmployment)">
                    <img src="cross.png">
                </a>
            </div>
        </li>
    </ul>
</div>

<div ng-show="vm.employment" class="container">
    <h3 class="col-centered">{{vm.employment.name}}</h3>
    </br>
    <div class="col-centered">
        <label>First Name: <input ng-model="search.firstName"></label>
        <label>Last Name: <input ng-model="search.lastName"></label>
    </div>
    </br>
    <ul class="col-md-6 list-group">
        <li class="list-group-item active">Checked In</li>
        <li ng-repeat="checkedInMember in vm.employment.checkedInMembers | filter:search:strict" class="list-group-item">
            {{checkedInMember.firstName + ' ' + checkedInMember.lastName}}
            <div class="pull-right">
                <a href="" ng-click="vm.checkOutMember(checkedInMember)">
                    <img src="right_arrow.png">
                </a>
            </div>
        </li>
    </ul>
    <ul class="col-md-6 list-group">
        <li class="list-group-item active">Checked Out</li>
        <li ng-repeat="checkedOutMember in vm.employment.checkedOutMembers | filter:search:strict" class="list-group-item">
            <div class="pull-left">
                <a href="" ng-click="vm.checkInMember(checkedOutMember)">
                    <img src="left_arrow.png">
                </a>
            </div>
            {{checkedOutMember.firstName + ' ' + checkedOutMember.lastName}}
        </li>
    </ul </div>
