doctype
html
  head
    title RecSpy
    link(rel="stylesheet" href="/css/site.css")
    link(rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css")
  body(ng-app='')
  | Hello World From Jade
  div
    h1 Some h1 tag
  include(../includes/scripts)