<div class="container">
    <div ng-repeat="gym in vm.memberships" ng-show="vm.currentlyDisplayedGym === gym"
    class="col-centered">
        <a href="" ng-click="vm.moveLeft()" ng-show="vm.memberships.length > 1" class="nav-arrow-left">
            <img src="left_arrow.png">
        </a>
        <h3 class="dashboard-gym-title">{{gym.name}}</h3>
        <a href="" ng-click="vm.moveRight()" ng-show="vm.memberships.length > 1" class="nav-arrow-right">
            <img src="right_arrow.png">
        </a>
        <h4>Best Time To Go: 7:30 PM</h4>
        <h4>{{vm.fullnessMessage}}</h4>
        <div class="progress dashboard-progress-bar">
            <div ng-repeat="percentage in vm.percentages" ng-class="{'progress-bar': true, 'dashboard-progress-level': true, 'progress-bar-success': vm.currentPercentage <= 50, 'progress-bar-warning': vm.currentPercentage > 50 && vm.currentPercentage <= 80, 'progress-bar-danger': vm.currentPercentage > 80}" ng-show="percentage <= vm.currentPercentage">
            </div>
        </div>
    </div>
</div>
