<div class="container">
    <ul class="list-group col-centered col-md-6">
        <li class="list-group-item active">
            Gyms
        </li>
        <li ng-repeat="gym in vm.gyms" class="list-group-item">
            {{gym.name}}
            <div class="pull-right">
                <a href="" ng-show="!gym.isCurrentUserMember && !gym.isCurrentUserPendingMember"
                ng-click="vm.requestMembership(gym)">
                    <img src="add.png">
                </a>
                <a href="/memberships" ng-show="gym.isCurrentUserPendingMember">
                    <img src="question.png">
                </a>
                <a href="/memberships" ng-show="gym.isCurrentUserMember">
                    <img src="check.png">
                </a>
        </li>
        </div>
    </ul>
</div>
