<div ng-show="!vm.gym" class="container">
    You do not currently own a gym.

    <div class="well">
        <form name="createGymForm" class="form-horizontal">
            <legend>New Gym Information</legend>
            <div class="form-group">
                <label for="gymName" class="col-md-2 control-label">Gym Name</label>
                <div class="col-md-10">
                    <input name="gymName" type="text" placeholder="Gym Name" ng-model="vm.gymName"
                    required="required" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="gymMaxCapacity" class="col-md-2 control-label">Max Capacity</label>
                <div class="col-md-10">
                    <input name="gymMaxCapacity" type="text" placeholder="Max Capacity" ng-model="vm.gymMaxCapacity"
                    required="required" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                    <div class="pull-right">
                        <button ng-click="vm.createGym()" ng-disabled="createGymForm.$invalid" class="btn btn-primary">Create</button>
                        &nbsp;<a href="/" class="btn btn-default">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div ng-show="vm.gym" class="container">
    <h3 class="col-centered">{{vm.gym.name}}</h3>
    </br>
    <ul class="col-md-6 list-group">
        <li class="list-group-item active">Members</li>
        <li ng-repeat="pendingMember in vm.gym.pendingMembers" class="list-group-item">
            {{pendingMember.firstName + ' ' + pendingMember.lastName}} (pending)
            <div class="pull-right">
                <a href="" ng-click="vm.deleteMembership(pendingMember)">
                    <img src="cross.png">
                </a>
                <a href="" ng-click="vm.acceptMembership(pendingMember)">
                    <img src="add.png">
                </a>
            </div>
        </li>

        <li ng-repeat="member in vm.gym.members" class="list-group-item">
            {{member.firstName + ' ' + member.lastName}}
            <a href="" ng-click="vm.deleteMembership(member)" class="pull-right">
                <img src="cross.png">
            </a>
        </li>
    </ul>
    <ul class="col-md-6 list-group">
        <li class="list-group-item active">Employees</li>
        <li ng-repeat="pendingEmployee in vm.gym.pendingEmployees" class="list-group-item">
            {{pendingEmployee.firstName + ' ' + pendingEmployee.lastName}} (pending)
            <div class="pull-right">
                <a href="" ng-click="vm.deleteEmployment(pendingEmployee)">
                    <img src="cross.png">
                </a>
                <a href="" ng-click="vm.acceptEmployment(pendingEmployee)">
                    <img src="add.png">
                </a>
            </div>
        </li>

        <li ng-repeat="employee in vm.gym.employees" class="list-group-item">
            {{employee.firstName + ' ' + employee.lastName}}
            <a href="" ng-click="vm.deleteEmployment(employee)" class="pull-right">
                <img src="cross.png">
            </a>
        </li>
    </ul>
</div>
